table.blueTable {
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 0px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tfoot td {
  font-size: 14px;
}